/* Application level */
*{
  box-sizing: border-box
}
*:before,
*:after{
  box-sizing: border-box;
}

html, body { 
  background: #16202a;
 
}

#root{
  text-align: center;
  display: relative;
  color:white;
}
p{
  /* text-shadow: 2px 1px black; */
  margin:15%;
}

/* Login Page */
.login {
  margin-top: 80px;
  margin-bottom: 80px;
  background: #16202a;
}
.form-signin{
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
} 
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 30px;
  color:black;
}
.form-signin .checkbox {
  font-weight: normal;

}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#loginLink{
  color:white;
}
.description{
  color:#ffffff;
  text-shadow: 2px 1px black;
}
.Label{
  color:#ffffff;
  margin: 1%;
}
#registerButton{
  margin:1%;
}
#loginButton{
  margin:1%;
}
/* Dashboard Page */
.dashboard{
  background: #16202a;
  padding-bottom: 60px;
  color:white;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: auto;
}
.navBar{
  grid-column: 1/3;
  grid-row:1/2;
}
.dashboard-heading{
  grid-column: 1/3;
  grid-row:2/3;

}
.dashboard-description{
  grid-column: 1/3;
  grid-row:3/4;
}
.new-employee{
  grid-column: 1/2;
  grid-row:4/5;
}
.KPI{
  grid-column: 2/3;
  grid-row:4/6;
}
.sidebar{
  grid-column: 1/2;
  grid-row:5/6;
  height: 100%;
  margin-top: 5px;
  margin-left: 5px;
  left: 5%;
}
/* Navbar */
.navBar{
  position: relative;
  left: 0;
  top: 0;
  height: 60px;
  width: 100%;
  background-color: RGB(248, 249, 251);
  color: black;
  display: inline-block;
  align-content: center;
}

/* Footer */
.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  height: 60px;
  width: 100%;
  background-color: RGB(248, 249, 251);
  color: black;
  display: inline-block;
  align-content: center;
}

img{
  height:30px;
  width:30px;
}
.logo{
  float: right;
}
/* EmployeeShow Page */
.employee-show-container{

  background: #16202a;
}
.employee-show{
  margin-top: 80px;
  margin-bottom: 80px;
  color:#16202a;
  max-width: 380px;
  padding: 15px 35px 45px;
  background-color: #fff;
} 
#employeeTerminateButton{
  margin: 1%;
}
.new-appraisal-modal{
  width: 50%;
  max-width: none!important;
}
#dateLabel{
  color: #fff;
}
th, td{
  color: #fff;
}
#ModalHeader{
  color: #16202a;
  background:  #fff;
}
#ModalBody{
  background:#16202a;
  color:  #fff;
  
  text-align: center;
}
#ModalFooter{
  background:  #fff;;
}

/* containers (4) */

.employeeShow {
  border: 6px solid rgb(252, 206, 121);
  padding-bottom: 60px;
}
.appraisalShow{
  border: 6px solid rgb(252, 206, 121);
  padding-bottom: 60px;
}

/* END OF SECTION*/

/* component of employeeIndex */
.updateEmployee{
  padding: 1% 3% 3% 1%;
}
#appraisalName{
  width: 75%;
  display:inline-block;
  margin: 1%;
}
#startDate{
  width:30%;
  display:inline-block;
  margin: 1%;
}
#endDate{
  width:30%;
  display:inline-block;
  margin: 1%;
}
#dateLable{
  color:black;
}
.modalInput{
  margin: 2%;
}

